<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 ERROR</title>
    {{>header_links}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Corrected class name here: col-md-6 col-12 -->
                    <div class="col-md-12 col-12 main_header_left d-flex align-items-center">
                        <figure class="">
                            <img src="./photoes/error.jpg" alt="error">
                        </figure>
                        <p>welcome to weather app</p>
                        <h1>requested <span>page</span> not found go back to home</h1>
                        <a href="/weather"><button>HOME</button></a>               
                </div>
            </div>
        </div>
    </div>
    
        
    
    {{>footer}}
</body>
</html>