<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{>header_links}}
    <title>about</title>
   
</head>
<body>
{{>navbar}}
    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Corrected class name here: col-md-6 col-12 -->
                    <div class="col-md-6 col-12 main_header_left">
                        <figure>
                            <img src="./photoes/about.png" alt="dipu">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        
                        <h1>I am <span>MERN STACK DEVLOPER</span> and a btech sophimere at IIIT Ranchi</h1>
                        <!-- <a href="/weather"><button>check now</button></a> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
        
    </div>

   {{>footer}}
</body>
</html>